@import "compass/css3";

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
}

form#login-form {
    background: #fff;
    /* 	 width: 35em;
*/
    margin: 2em auto;
    overflow: hidden;
    position: relative;
}

form#login-form div.heading {
    background: #cb638d;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.5em;
}

form#login-form div.left {
    width: 50%;
    float: left;
    padding: 1.7em 1.5em 2.5em 1.5em;
}

form#login-form div.right {
    width: 40%;
    float: right;
    padding: 1.7em 1.5em 2.5em 1.5em;
}

form#login-form:before {
    content: 'or';
    color: gray;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 0.5em;
    width: 0.5em;
    left: -1.5em;
    top: 1.2em;
    z-index: 900;
}

form#login-form:after {
    content: '';
    position: absolute;
    background: rgba(128, 128, 128, 0.3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 7.25em;
    width: 0.1em;
    left: -0.85em;
    top: -6.8em;
}

div.left label {
    display: inline-block;
    color: gray;
    font-size: 1.1em;
    margin-top: 0.6em;
}

div.left input[type="email"],
div.left input[type="password"] {
    border: 0.1em solid #dfdfdf;
    padding: 1em;
    margin: 0.6em 0;
    width: 100%;
}

div.left input[type="email"]:focus,
div.left input[type="password"]:focus {
    outline: none;
    border: 0.1em solid #bdbdbd;
}

div.left input[type="submit"] {
    background: #cb638d;
    color: #fff;
    outline: none;
    text-transform: uppercase;
    padding: 1.2em;
    overflow: hidden;
    border: none;
    letter-spacing: 0.1em;
    margin: 0.5em 0;
    font-weight: bold;
    margin-left: 45%;
}

div.left input[type="submit"]:hover {
    background: rgba(248, 95, 100, 0.8);
}

div.right div.connect {
    color: gray;
    font-size: 1.1em;
    text-align: left;
}

div.right a {
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    width: 70%;
    padding: 0.55em 0.3em;
    clear: both;
    text-align: center;
    margin: 0.5em 0.1em;
}

div.right a.facebook {
    background: #2e79b8;
    margin-top: 0.8em;
}

div.right a.facebook:hover {
    background: rgba(58, 88, 154, 0.8);
}

div.right a.github {
    background: #353535;
}

div.right a.github:hover {
    background: #6d6d6d;
}

div.right a.google {
    background: #d74040;
}

div.right a.google:hover {
    background: #e26565;
}
